body {
    background: rgb(38, 38, 89);
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 70%;
    margin: 100px auto;
    background: #c5c5c5;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#choice { 
    margin-bottom: 20px;
}

.btn {
    border: none;
    background: rgb(38, 38, 89);
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.btn:hover {
    background: none;
    border: 1px solid rgb(38, 38, 89);
    color: #000;
    padding: 9px 29px;
}

.btn:disabled{
    cursor: not-allowed;
}